.mainscreensection{
    padding-left: 3%;
  }
  table {
    width: 98%;
    margin-top: 20px;
    margin-left: 4px;
  }
  .tableheader{
    background-color: lightskyblue;
    font-size: larger;
  }

  .leavesummarysection{
    padding-top: 3%; 
   }