
  mat-card {
    max-width: 350px;
  
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
  
      form {
        .mat-form-field {
          width: 100%;
          min-width: 300px;
        }
  
        .error {
          padding: 16px;
          width: 300px;
          color: white;
          background-color: red;
        }
  
        .button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .CardHeaderTittle{
    font-weight: 400;
    font-size: large;
    font-family: 'Roboto';
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 328px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px  rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 18px;
  }
  .item2 {
  text-align: left;
  margin-right: 94px;
  }
  
  .flex-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
  }