
  .leaveDataLabel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 16px;
  }
  .gridtittleclass{
    background-color: lightskyblue;
  }

  table {
    width: 98%;
    margin-top: 20px;
    margin-left: 15px;
  }
  .tableheader{
    background-color: lightskyblue;
    font-size: larger;
  }
  .leavesummarysection{
   padding-top: 5%; 
  }
  .mainscreensection{
    padding-left: 3%;
  }