<div>
    
<h1>Leave Balances</h1>
<div class="flex-container">
  <div>
    <mat-card>
        <mat-card-title class="CardHeaderTittle">Causual Leave</mat-card-title>
        <mat-card-content class="grid-container">
          <div d-flex>
            <div class="item2 grid-item">
              <label>Available</label>
              <br>
              <label>4</label>
            </div>  
            <div class="item13 grid-item">
              <label>Consumned</label>
              <br>
              <label>4</label>
            </div>
          </div>

          <div>
            <div class="item4 grid-item">
              <label>Carry Over</label>
              <br>
              <label>4</label>
            </div>
            <div class="item5 grid-item">
              <label>Annual Quota</label>
              <br>
              <label>4</label>
            </div>
          </div>
          
        </mat-card-content>
      </mat-card> 
</div>

<div>
  <mat-card>
      <mat-card-title class="CardHeaderTittle">Causual Leave</mat-card-title>
      <mat-card-content class="grid-container">
        <div d-flex>
          <div class="item2 grid-item">
            <label>Available</label>
            <br>
            <label>4</label>
          </div>  
          <div class="item13 grid-item">
            <label>Consumned</label>
            <br>
            <label>4</label>
          </div>
        </div>

        <div>
          <div class="item4 grid-item">
            <label>Carry Over</label>
            <br>
            <label>4</label>
          </div>
          <div class="item5 grid-item">
            <label>Annual Quota</label>
            <br>
            <label>4</label>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card> 
</div>

<div>
  <mat-card>
      <mat-card-title class="CardHeaderTittle">Causual Leave</mat-card-title>
      <mat-card-content class="grid-container">
        <div d-flex>
          <div class="item2 grid-item">
            <label>Available</label>
            <br>
            <label>4</label>
          </div>  
          <div class="item13 grid-item">
            <label>Consumned</label>
            <br>
            <label>4</label>
          </div>
        </div>

        <div>
          <div class="item4 grid-item">
            <label>Carry Over</label>
            <br>
            <label>4</label>
          </div>
          <div class="item5 grid-item">
            <label>Annual Quota</label>
            <br>
            <label>4</label>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card> 
</div>
</div>


</div>