<div>
    
<h1>Leave Balances</h1>
<!-- <div class="flex-container">
  <div>
    <mat-card>
        <mat-card-title class="CardHeaderTittle">Causual Leaves</mat-card-title>
        <mat-card-content class="grid-container">
          <div d-flex>
            <div class="item2 grid-item">
              <label>Available</label>
              <br>
              <label>4</label>
            </div>  
            <div class="item13 grid-item">
              <label>Consumned</label>
              <br>
              <label>4</label>
            </div>
          </div>

          <div>
            <div class="item4 grid-item">
              <label>Carry Over</label>
              <br>
              <label>4</label>
            </div>
            <div class="item5 grid-item">
              <label>Annual Quota</label>
              <br>
              <label>4</label>
            </div>
          </div>
          
        </mat-card-content>
      </mat-card> 
</div>

<div>
  <mat-card>
      <mat-card-title class="CardHeaderTittle">Earned Leaves</mat-card-title>
      <mat-card-content class="grid-container">
        <div d-flex>
          <div class="item2 grid-item">
            <label>Available</label>
            <br>
            <label>4</label>
          </div>  
          <div class="item13 grid-item">
            <label>Consumned</label>
            <br>
            <label>4</label>
          </div>
        </div>

        <div>
          <div class="item4 grid-item">
            <label>Carry Over</label>
            <br>
            <label>4</label>
          </div>
          <div class="item5 grid-item">
            <label>Annual Quota</label>
            <br>
            <label>4</label>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card> 
</div>

<div>
  <mat-card>
      <mat-card-title class="CardHeaderTittle">Comp Offs</mat-card-title>
      <mat-card-content class="grid-container">
        <div d-flex>
          <div class="item2 grid-item">
            <label>Available</label>
            <br>
            <label>4</label>
          </div>  
          <div class="item13 grid-item">
            <label>Consumned</label>
            <br>
            <label>4</label>
          </div>
        </div>

        <div>
          <div class="item4 grid-item">
            <label>Carry Over</label>
            <br>
            <label>4</label>
          </div>
          <div class="item5 grid-item">
            <label>Annual Quota</label>
            <br>
            <label>4</label>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card> 
</div>
</div> -->

<mat-grid-list cols="4" rowHeight="200px" gutterSize="5px">
  <mat-grid-tile class="gridtittleclass" *ngFor="let tile of tiles" 
  [colspan]="tile.cols"
  [rowspan]="tile.rows">
  <mat-grid-tile-header style="font-size: larger;color: black;">
   {{tile.text}}
  </mat-grid-tile-header>
  <div>
    <div>
      <label class="">Available</label>
      <label>4</label>
    </div>  
    <div>
      <label>Consumned</label>
      <label>4</label>
    </div>
    <div>
      <label>Carry Over</label>
      <label>4</label>
    </div>
    <div>
      <label>Annual Quota</label>
      <label>4</label>
    </div>
  </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

